.container {
    padding: 2rem;
  
    header {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .filters {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
  
      input {
        padding: 0.75rem;
        border-radius: 8px;
        border: 1px solid #ccc;
      }
  
      select {
        padding: 0.75rem;
        border-radius: 8px;
        border: 1px solid #ccc;
      }
  
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
  
        button {
          padding: 0.5rem 1rem;
          border-radius: 20px;
          border: 1px solid #0070f3;
          background: var(--container-bg);
          cursor: pointer;
  
          &.activeTag {
            background: #0070f3;
            color: white;
          }
        }
      }
    }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 1.5rem;
  
      .card {
        background: var(--container-bg);
        border-radius: var(--container-border-radius);
        
        overflow: hidden;
        img{
            max-width: 100%;
        }

        .body{
            padding: 1rem;
        }
  
        h3 {
          margin-bottom: 0.5rem;
        }
  
        a {
          display: inline-block;
          margin-top: 1rem;
          color: #0070f3;
          font-weight: bold;
        }
      }
    }
  }
  